<launch>
    <arg name="mode" default="0" doc="Publish: 0, Record: 1"/>
    <arg name="file_name" default="$(find path_recorder)/path.csv"/>
    <arg name="interval" default="0.1"/>
    <arg name="odom_topic" default="odom"/>

    <node name="path_recorder" pkg="path_recorder" type="path_recorder_node" output="screen">
        <param name="mode" value="$(arg mode)" />
        <param name="file_name" value="$(arg file_name)" />
        <param name="interval" value="$(arg interval)" />
        
        <remap from="odom" to="$(arg odom_topic)"/>
    </node>
</launch>