<launch>
    <arg name="t_max" value="2"/>
    <arg name="delta_t" value="0.1"/>

    <arg name="wheelbase" value="0.3"/>
    <arg name="vehicle_width" value="0.3"/>
    <arg name="vehicle_length" value="0.5"/>
    <arg name="base_link_to_center_dist" value="0.1"/>

    <arg name="odom_topic" value="odom"/>
    <arg name="drive_topic" value="drive"/>
    <arg name="obstacle_topic" value="obstacles"/>
    <arg name="time_to_collision_topic" value="time_to_collision"/>
    <arg name="trajectory_topic" value="trajectory"/>
    <arg name="vehicle_footprints_viz_topic" value="vehicle_footprints_viz"/>
    <arg name="collision_viz_topic" value="collision_viz"/>

    <node name="collision_warning_system" pkg="collision_warning_system" type="collision_warning_system_node" output="screen">
        <param name="t_max" value="$(arg t_max)"/>
        <param name="delta_t" value="$(arg delta_t)"/>

        <param name="wheelbase" value="$(arg wheelbase)"/>
        <param name="vehicle_width" value="$(arg vehicle_width)"/>
        <param name="vehicle_length" value="$(arg vehicle_length)"/>
        <param name="base_link_to_center_dist" value="$(arg base_link_to_center_dist)"/>

        <param name="odom_topic" value="$(arg odom_topic)"/>
        <param name="drive_topic" value="$(arg drive_topic)"/>
        <param name="obstacle_topic" value="$(arg obstacle_topic)"/>
        <param name="time_to_collision_topic" value="$(arg time_to_collision_topic)"/>
        <param name="trajectory_topic" value="$(arg trajectory_topic)"/>
        <param name="vehicle_footprints_viz_topic" value="$(arg vehicle_footprints_viz_topic)"/>
        <param name="collision_viz_topic" value="$(arg collision_viz_topic)"/>
    </node>
</launch>