<launch>
    <rosparam command="load" file="$(find f1tenth_racecar_bringup)/config/common.yaml"/>

    <!-- DS4 Driver -->
    <arg name="use_standard_msgs" value="false"/>
    <arg name="deadzone" value="0.02"/>

    <node name="ds4_driver" pkg="ds4_driver" type="ds4_driver_node.py" output="screen">
        <param name="use_standard_msgs" value="$(arg use_standard_msgs)"/>
        <param name="deadzone" value="$(arg deadzone)"/>
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="ds4_to_imu" args="0 0.05 -0.01 -1.5707 0 1.5707 ds4 ds4_imu"/>

    <!-- DS4 Controller -->
    <arg name="status_topic" value="status"/>
    <arg name="feedback_topic" value="set_feedback"/>
    <arg name="timeout" value="0.5"/>
    <arg name="max_speed" value="10"/>

    <node name="ds4_controller" pkg="ds4_controller" type="ds4_controller_node" output="screen">
        <param name="status_topic" value="$(arg status_topic)" />
        <param name="feedback_topic" value="$(arg feedback_topic)" />
        <param name="timeout" value="$(arg timeout)" />
        <param name="max_speed" value="$(arg max_speed)"/>
    </node>

    <!-- Drive Mode Selector -->
    <node name="drive_mode_selector" pkg="drive_mode_selector" type="drive_mode_selector_node" output="screen">
    </node>

    <!-- Safety Controller -->
    <node name="safety_controller" pkg="safety_controller" type="safety_controller_node" output="screen">
    </node>

    <!-- Ackermann To VESC -->
    <node name="ackermann_to_vesc" pkg="vesc_ackermann" type="ackermann_to_vesc_node" output="screen">
    </node>

    <!-- VESC Driver  -->
    <arg name="port" value="/dev/sensors/vesc" />

    <node name="vesc_driver_node" pkg="vesc_driver" type="vesc_driver_node" output="screen">
        <param name="port" value="$(arg port)" />
    </node>
</launch>
