<launch>
    <arg name="use_standard_msgs" value="false"/>
    <arg name="deadzone" value="0"/>

    <arg name="status_topic" value="status"/>
    <arg name="feedback_topic" value="set_feedback"/>
    <arg name="drive_topic" value="drive_raw"/>

    <arg name="timeout" value="0.5"/>

    <arg name="max_steering_angle" value="0.3"/>
    <arg name="max_speed" value="5"/>

    <node name="ds4_driver" pkg="ds4_driver" type="ds4_driver_node.py" output="screen">
        <param name="use_standard_msgs" value="$(arg use_standard_msgs)"/>
        <param name="deadzone" value="$(arg deadzone)"/>
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="ds4_to_imu" args="0 0.05 -0.01 -1.5707 0 1.5707 ds4 ds4_imu"/>

    <node name="ds4_controller" pkg="ds4_controller" type="ds4_controller_node" output="screen">
        <param name="status_topic" value="$(arg status_topic)" />
        <param name="feedback_topic" value="$(arg feedback_topic)" />
        <param name="drive_topic" value="$(arg drive_topic)" />

        <param name="timeout" value="$(arg timeout)" />

        <param name="max_steering_angle" value="$(arg max_steering_angle)"/>
        <param name="max_speed" value="$(arg max_speed)"/>
    </node>

    <arg name="t_max" value="2"/>
    <arg name="delta_t" value="0.2"/>

    <arg name="wheelbase" value="0.3"/>
    <arg name="vehicle_width" value="0.3"/>
    <arg name="vehicle_length" value="0.8"/>
    <arg name="base_link_to_center_dist" value="0.4"/>

    <arg name="odom_topic" value="odom"/>
    <arg name="drive_topic" value="drive"/>
    <arg name="obstacle_topic" value="obstacles"/>
    <arg name="time_to_collision_topic" value="time_to_collision"/>
    <arg name="trajectory_topic" value="trajectory"/>
    <arg name="vehicle_footprints_viz_topic" value="vehicle_footprints_viz"/>
    <arg name="collision_viz_topic" value="collision_viz"/>

    <node name="collision_warning_system" pkg="collision_warning_system" type="collision_warning_system_node" output="screen">
        <param name="t_max" value="$(arg t_max)"/>
        <param name="delta_t" value="$(arg delta_t)"/>

        <param name="wheelbase" value="$(arg wheelbase)"/>
        <param name="vehicle_width" value="$(arg vehicle_width)"/>
        <param name="vehicle_length" value="$(arg vehicle_length)"/>
        <param name="base_link_to_center_dist" value="$(arg base_link_to_center_dist)"/>

        <param name="odom_topic" value="$(arg odom_topic)"/>
        <param name="drive_topic" value="$(arg drive_topic)"/>
        <param name="obstacle_topic" value="$(arg obstacle_topic)"/>
        <param name="time_to_collision_topic" value="$(arg time_to_collision_topic)"/>
        <param name="trajectory_topic" value="$(arg trajectory_topic)"/>
        <param name="vehicle_footprints_viz_topic" value="$(arg vehicle_footprints_viz_topic)"/>
        <param name="collision_viz_topic" value="$(arg collision_viz_topic)"/>
    </node>

    <arg name="odom_topic" value="odom"/>
    <arg name="time_to_collision_topic" value="time_to_collision"/>
    <arg name="raw_drive_topic" value="drive_raw"/>
    <arg name="safe_drive_topic" value="drive"/>

    <node name="safety_controller" pkg="safety_controller" type="safety_controller_node" output="screen">
        <param name="odom_topic" value="$(arg odom_topic)" />
        <param name="time_to_collision_topic" value="$(arg time_to_collision_topic)" />
        <param name="raw_drive_topic" value="$(arg raw_drive_topic)" />
        <param name="safe_drive_topic" value="$(arg safe_drive_topic)" />
    </node>
</launch>