<launch>
    <rosparam command="load" file="$(find f1tenth_racecar_bringup)/config/vehicle_params.yaml"/>

    <include file="$(find f1tenth_racecar_bringup)/launch/joy.launch">
    </include>

    <include file="$(find f1tenth_racecar_bringup)/launch/autonomy.launch">
        <arg name="map_name" value="map"/>
        <arg name="path_name" value="path"/>
    </include>

    <include file="$(find f1tenth_racecar_bringup)/launch/vesc.launch">
        <arg name="vesc_drive_topic" value="drive_safe"/>
    </include>

    <include file="$(find f1tenth_simulator)/launch/racecar_model.launch"/>
</launch>
