<launch>
    <rosparam command="load" file="$(find f1tenth_racecar_bringup)/config/vehicle_params.yaml"/>

    <include file="$(find f1tenth_racecar_bringup)/launch/f1tenth_teleop.launch">
    </include>

    <include file="$(find f1tenth_racecar_bringup)/launch/f1tenth_vesc.launch">
        <arg name="vesc_drive_topic" value="drive_joy"/>
    </include>

    <include file="$(find f1tenth_racecar_bringup)/launch/f1tenth_lidar.launch">
    </include>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <rosparam command="load" file="$(find f1tenth_racecar_bringup)/config/gmapping.yaml"/>
        <remap from="scan" to="scan"/>
        <remap from="odom" to="odom"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find f1tenth_racecar_bringup)/rviz/f1tenth_slam.rviz" output="screen"/>
</launch>
