<launch>
  <!-- Launch a map from the maps folder-->
  <arg name="map" value="$(find f1tenth_simulator)/maps/berlin.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch the racecar model -->
  <include file="$(find f1tenth_simulator)/launch/racecar_model.launch"/>

  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="f1tenth_simulator" type="simulator" output="screen">
    <rosparam command="load" file="$(find f1tenth_racecar_bringup)/config/simulator.yaml"/>
  </node>

  <include file="$(find f1tenth_racecar_bringup)/launch/joy.launch">
    <arg name="param_file_name" value="joy.yaml"/>
  </include>

  <include file="$(find f1tenth_racecar_bringup)/launch/autonomy.launch">
    <arg name="param_file_name" value="autonomy.yaml"/>
  </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find f1tenth_racecar_bringup)/rviz/f1tenth_racecar.rviz" output="screen"/>
</launch>
