<launch>
  <arg name="timeout" default="0.5"/>
  <arg name="max_steering_angle" default="0.3"/>
  <arg name="max_speed" default="5"/>

  <node name="f1tenth_teleop_ds4" pkg="f1tenth_teleop_ds4" type="f1tenth_teleop_ds4_node" output="screen">
    <param name="timeout" value="$(arg timeout)" />
    <param name="max_steering_angle" value="$(arg max_steering_angle)"/>
    <param name="max_speed" value="$(arg max_speed)"/>
  </node>
</launch>
