<launch>
  <arg name="timeout" default="0.5"/>
  <arg name="max_steering_angle" default="0.3"/>
  <arg name="max_speed" default="5"/>

  <node name="ds4_controller" pkg="ds4_controller" type="ds4_controller_node" output="screen">
    <param name="timeout" value="$(arg timeout)" />
    <param name="max_steering_angle" value="$(arg max_steering_angle)"/>
    <param name="max_speed" value="$(arg max_speed)"/>
  </node>
</launch>
