<launch>
    <arg name="odom_topic" default="odom"/>
    <arg name="drive_in_topic" default="drive_in"/>

    <node name="safety_controller" pkg="safety_controller" type="safety_controller_node" output="screen">
        <remap from="odom" to="$(arg odom_topic)"/>
        <remap from="drive_in" to="$(arg drive_in_topic)"/>
    </node>
</launch>