<launch>
    <arg name="grid_size_x" default="10"/>
    <arg name="grid_size_y" default="10"/>
    <arg name="grid_resolution" default="0.05"/>
    <arg name="scan_topic" default="scan"/>

    <node name="costmap_generator" pkg="costmap_generator" type="costmap_generator_node" output="screen">
        <param name="grid_size_x" value="$(arg grid_size_x)"/>
        <param name="grid_size_y" value="$(arg grid_size_y)"/>
        <param name="grid_resolution" value="$(arg grid_resolution)"/>

        <remap from="scan" to="$(arg scan_topic)"/>
    </node>
</launch>
