<launch>
    <arg name="look_ahead_dist" default="1"/>
    <arg name="gain" default="0.40"/>

    <arg name="trajectory_topic" default="trajectory"/>
    <arg name="odom_topic" default="odom"/>

    <node name="drive_controller" pkg="drive_controller" type="drive_controller_node" output="screen">
        <param name="look_ahead_dist" value="$(arg look_ahead_dist)"/>
        <param name="gain" value="$(arg gain)"/>

        <remap from="trajectory" to="$(arg trajectory_topic)"/>
        <remap from="odom" to="$(arg odom_topic)"/>
    </node>
</launch>
